@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    src: url("/public/fonts/Modern\ Negra\ Demo.ttf") format("woff");
    font-display: swap;
}
:root {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif; 
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif:  "DM Serif Text", serif;
}
@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff,#898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@utility radial-gradient {
    background: radial-gradient(
        circle at center,
        #434343 0%,
        #000 50%,
        transparent 100%
    );
}
@utility masked-img {
    mask-image: url("/public/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 35%;
}
img {
    pointer-events: none;
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border: 1px solid silver;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition:all 0.3s;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Zain", sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav li {
    padding: 2px 4px;
    position: relative;
    display: inline-block;
}
nav li:hover a{
    opacity: 0.3;
}
.menu-d {
    display: none;
}
/* hero section */
#hero {
    z-index: 2;
}
.left-leaf {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 17.17%;
}
.right-leaf {
    position: absolute;
    right: 0;
    top: 40px;
    width: 180px;
}
.hero-text {
    font-size: 15rem;
    line-height: 1;
    letter-spacing: 2px;
    font-family: var(--font-modern-negra);
    margin-top: 5rem;
    text-align: center;
    overflow: hidden;
}
.hero-body {
    width: 80%;
    position: absolute;
    top: auto;
    left: 14%;
    bottom: 35px;
    z-index: 2;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.sub-text p:nth-of-type(2) {
   font-size: 35px;
    line-height: 1;
    font-family: var(--font-modern-negra);
    color: #784cfa;
}
.sub-text p:nth-of-type(1){
    font-size: 17px;
    color: white;
    text-align: center;
}
.subtitle p{
    font-size: 20px;
    width: 20rem;
    height: auto;
    text-align: start;
    margin-bottom: 15px;
}
.subtitle a {
    font-size: 20px;
    line-height: 1;
}
.subtitle a:hover {
    color: #784cfa;
}
video { 
    width: 70%;
    height: 80%;
    position: absolute;
    left: 15%;
    top: 15%;
    object-position: bottom;
    object-fit: cover;
}

/* cocktails section */
.cocktails-sec {
    position: relative;
    min-height: 100vh;
    width: 100%;
    bottom: 0;
    margin-top: 47%;
    overflow: hidden;
}
.list {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 75px 70px 0 70px;
}
.cock-left-leaf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
}
.cock-right-leaf {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    
}
.list h2 {
    font-size: 23px;
    font-weight: 700;
    color: #dfc415;
}
.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 60px;
}
.list li h3 {
    font-size: 20px;
    color: #ffc6fd;
}
.list li p {
    font-size: 16px;
    opacity: 0.7;
}
.list span {
    font-size: 19px;
     opacity: 0.8;
}
/* abut page */
#about {
    min-height: 100%;;
    padding: 60px 40px;
    margin: auto;
}
.content {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.badge {
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    color: black;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.first-content h2 {
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--font-modern-negra);
    line-height: 8vh;
}
.sub-content p {
    opacity: 0.8;
    font-size: 17px;
}
.rating-d {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
}
.rating-one {
    width: 100%;
}
.rating-one p {
    opacity: 1;
}
.rating-one .rating-p {
    font-size: 24px;
    line-height: 1;
}
.rating-one p:last-child {
    font-size: 16px;
    opacity: 0.8;
}
.profile {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-d {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 15px 20px 15px 30px;
    background: linear-gradient(to bottom, #404040, #1a1a1a);
}
.p-i-d {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: -10px;
    overflow: hidden;
}
.p-i-d img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-i-d-m {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    background-color: rgb(106, 106, 243);
}

.top-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 14px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.bottom-grid {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 14px;
}
.ab-i-holder {
    position: relative;
    overflow: hidden;
    height: 40vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.ab-img{ 
    object-fit: cover;
    width: 100%;
     transform: scale(1);
     transition:all 0.3s ease;
}
.ab-i-holder:hover .ab-img {
    transform: scale(1.1);
}

.noicy-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(/public/images/noise.png);
    background-position: center;
    background-size: cover;
    z-index: 9;
}
.ab-i-holder:hover .noicy-img {
    display: none;
}
.top-grid > div:nth-child(1) {
     flex-basis: 25%;
 }
.top-grid > div:nth-child(2) {
     flex-basis: 25%;
     border-radius: 10px;
 }
.top-grid > div:nth-child(3) {
     flex-basis: 45%;
 }
 .bottom-grid > div:nth-child(1) {
    flex-basis: 60%;
 } 
 .bottom-grid > div:nth-child(2) {
    flex-basis: 40%;
 } 
 /* art page */
#work {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
}
.art-sec {
    position: relative;
    width: 100%;
    height: 100%;
}
.art-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-image: url(/images/under-img.jpg);
    background-position: center;
    background-size: contain;
}
.art-sec img {
    width: 200px;
    z-index: 99;
}
.art-left-img {
    position: absolute;
    left: 0%;
    top: 12%;
    transform: rotate(12deg);
}
.art-right-img {
    position: absolute;
    right: 0%;
   bottom: 5%;    
}
.art-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding:20px 20px;
}
.art-text h2 {
    font-size: 2.5rem;
    line-height: 1;
    font-family: var(--font-modern-negra);
}

/* menu section */
#menu {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#m-left-leaf {
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: contain;
}
#m-right-leaf {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: contain;
}
.cocktail-tabs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 180px));
    position: relative;
    z-index: 9;
    gap: 35px;
    justify-content: center;
}
#cock-btn{
    position: relative;
    font-size: 1.7rem;
    font-family: var(--font-modern-negra);
    padding-bottom: 3px;
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 0;
}
#cock-btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}
#cock-btn:hover::after {
    transform: scaleX(1);
}

#cock-btn:hover {
    color: #ffc6fd;
}
.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.arrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-top: 80px;
}
.arrow-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow-btn span {
    line-height: 0.8;
    font-size: 2rem;
    font-family: var(--font-modern-negra);
    font-weight: 500;
}
.arrow-btn:hover {
    color: #ffc6fd;
}
.cocktail-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 13%;
    padding: 0 40px 0 80px;
}
.cock-info-div p{
    line-height: 0.8;
    font-size: 2.2rem;
    font-family: var(--font-modern-negra);
    font-weight: 500;
    margin-top: 5px;
}
.cock-info-div h5 {
    font-size: 1rem;
}
.details h2 {
    font-size: 3rem;
    font-family: var(--font-modern-negra);
    font-weight: 500;
    line-height: 0.9;
    width: 350px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.details p {
    font-size: 0.9rem;
    opacity: 0.6;

}
/* footer */
#contact{
    position: relative;
    margin-top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 65px 50px;
}
#f-right-leaf {
    width: 250px;
    position: absolute;
    right: 0;
    top: 0;
}
#f-left-leaf {
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.f-content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 20px;
}
.f-content h2{
    font-size: 4rem;
    font-family: var(--font-modern-negra);
    font-weight: 500;
    line-height: 0.9;
}
.f-content h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 0.9;
    margin-bottom: 10px;
}
.f-content p {
    font-size: 1.1rem;
    opacity: 0.8;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* media query's */
/* Tablets: 768px–1199px */
/* @media (max-width: 1199px) {
} */

/* Mobile: <768px */
@media (max-width: 767px) {
    .cursor {
        display: none;
    }  
    .logo {
        font-size: 30px;
    }
    .nav-hold img {
        width: 45px;
        height: 45px;
    }
    .nav-hold span {
        font-size: 2.5rem;
    }
    .nav-hold {
        padding: 10px;
        flex-direction: column;
        gap: 5px;
    } 
    .nav-hold ul {
        gap: 5px;
    }
    .nav-hold li{
        font-size: 1rem;
    }
    /* hero */
    #hero {
        height: 150vh;
        overflow: hidden;
        border: 2px solid red;
    }
    .right-leaf {
        top: 70%;
        bottom: 0;
        width: 140px;
    }
    .left-leaf {
       bottom: -20%;
        width: 160px;
    }
    .hero-text {
        margin-top: 9rem;
        font-size: 7rem;
    }
    .sub-text {
        display: none;
    }
    .hero-body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0;
        text-align: center;
        margin-top: 15px;
    }
     .subtitle p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        opacity: 0.7;
        padding: 0 5px;
     }
     video {
        width: 100%;
        height: 50vh;
        left: 0;
        bottom: 50%;
        object-fit: cover;
     }

     /* cocktail section */
     .cock-left-leaf, .cock-right-leaf {
        width: 110px;
     }
     .cock-left-leaf {

     }
}