@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    src: url("/public/fonts/Modern\ Negra\ Demo.ttf") format("woff");
}
:root {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif; 
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif:  "DM Serif Text", serif;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff,#898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@utility radial-gradient {
    background: radial-gradient(
        circle at center,
        #434343 0%,
        #000 50%,
        transparent 100%
    );
}
@utility masked-img {
    mask-image: url("/public/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
    
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
}
#hero {
    background: url(/public/images/noise.png);
}
.left-leaf {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 17.17%;
}
.right-leaf {
     position: absolute;
    right: 0;
    top: 40px;
    width: 180px;
}
.hero-text {
    font-size: 15rem;
    line-height: 1;
    font-family: var(--font-modern-negra);
    margin-top: 5rem;
    text-align: center;
    overflow: hidden;
}
.hero-body {
    width: 80%;
    position: absolute;
    top: auto;
    left: 14%;
    bottom: 35px;
    z-index: 2;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.sub-text p:nth-of-type(2) {
   font-size: 35px;
    line-height: 1;
    font-family: var(--font-modern-negra);
    color: #784cfa;
}
.sub-text p:nth-of-type(1){
    font-size: 17px;
    color: white;
    text-align: center;
}
.subtitle p{
    font-size: 20px;
    width: 20rem;
    height: auto;
    text-align: start;
    margin-bottom: 15px;
}
.subtitle a {
    font-size: 20px;
    line-height: 1;
}
.subtitle a:hover {
    color: #784cfa;
}
.video { 
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    object-position: bottom;
    object-fit: cover;
    border: 2px solid red;
}