    #menu {
        @apply relative w-full md:mt-40 mt-0 2xl:px-0 px-5 py-20 radial-gradient;

        #m-left-leaf {
            @apply object-contain absolute -bottom-20 left-0 md:w-fit w-1/3;
        }

        #m-right-leaf {
            @apply object-contain absolute -top-40 right-0 md:w-fit w-1/4;
        }

        .cocktail-tabs {
            @apply grid md:grid-cols-4 grid-cols-2 md:gap-20 gap-10 sm:mb-32 mb-20 relative z-10 md:max-w-6xl md:mx-auto;

            button {
                @apply md:text-3xl text-xl pb-2 cursor-pointer hover:text-yellow hover:border-yellow border-b-1 transition-colors font-modern-negra;
            }
        }

        .content {
            @apply flex flex-col justify-between items-center container mx-auto relative;

            .arrows {
                @apply flex items-center justify-between w-full absolute;

                button {
                    @apply text-white hover:text-yellow cursor-pointer transition-colors max-w-36;

                    span {
                        @apply text-3xl font-modern-negra leading-none hidden md:block;
                    }
                }
            }
        }

        .cocktail {
            @apply flex-center mt-10;

            img {
                @apply object-contain h-[60vh];
            }
        }

        .recipe {
            @apply flex max-md:flex-col gap-10 md:items-center justify-between w-full lg:absolute bottom-0;

            .info {
                @apply space-y-4 lg:translate-y-20;

                #title {
                    @apply font-modern-negra md:text-6xl text-3xl text-yellow max-w-40;
                }
            }

            .details {
                @apply space-y-5 md:max-w-md text-left;

                h2 {
                    @apply md:text-5xl text-3xl font-serif;
                }

                p {
                    @apply md:text-lg pe-5;
                }
            }
        }
    }

    #contact {
        @apply relative md:mt-20 mt-0 px-4 text-center w-full overflow-hidden radial-gradient;

        #f-left-leaf {
            @apply absolute bottom-0 left-0 pointer-events-none lg:w-fit w-1/3;
        }

        #f-right-leaf {
            @apply absolute top-0 right-0 pointer-events-none hidden lg:block;
        }

        .content {
            @apply container mx-auto lg:py-14 2xl:py-32 py-16 flex flex-col justify-between gap-10 min-h-dvh;

            h2 {
                @apply lg:text-6xl 2xl:text-8xl text-5xl font-modern-negra md:translate-y-0 translate-y-5;
            }

            h3 {
                @apply uppercase xl:text-base 2xl:text-lg text-base mb-2;
            }

            p {
                @apply lg:text-2xl 2xl:text-3xl text-sm;
            }
        }

        .drink-img {
            @apply absolute bottom-0 right-0 lg:w-96 w-1/3 pointer-events-none;
        }
    }