
    #contact {
        @apply relative md:mt-20 mt-0 px-4 text-center w-full overflow-hidden radial-gradient;

        #f-left-leaf {
            @apply absolute bottom-0 left-0 pointer-events-none lg:w-fit w-1/3;
        }

        #f-right-leaf {
            @apply absolute top-0 right-0 pointer-events-none hidden lg:block;
        }

        .content {
            @apply container mx-auto  py-16 flex flex-col justify-between gap-10 min-h-dvh;

            h2 {
                @apply lg:text-6xl 2xl:text-8xl text-5xl font-modern-negra md:translate-y-0 translate-y-5;
            }

            h3 {
                @apply uppercase xl:text-base 2xl:text-lg text-base mb-2;
            }

            p {
                @apply lg:text-2xl 2xl:text-3xl text-sm;
            }
        }

        .drink-img {
            @apply absolute bottom-0 right-0 lg:w-96 w-1/3 pointer-events-none;
        }
    }